:root {
  background-color: black;
  color: white;

  font-family: 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: none;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: black;
  background-color: white;
  position: relative;
  margin-top: 20px;
  padding: 12px;
  border: 2px solid white;
}

button:before {
  content: "";
  position: absolute;
  background-color: black;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.4s;
}

button:after {
  content: "LEARN MORE";
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: 0.4s;
}

button:hover {
  cursor: pointer;
}

button:hover:before {
  width: 100%;
}

button:hover:after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
